body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
}

a {
  color: #2B2D42;
  font-weight: 500;
  transition: 0.2s color;
}

a:hover, a:focus {
  color: #D10024;
  text-decoration: none;
  outline: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

.pull-left {
  float: left
}

.pull-right {
  float: right;
}

#top-header {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #1E1F29;
}

.header-links li {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
}

.header-links li:last-child {
  margin-right: 0px;
}

.header-links li a {
  color: #FFF;
}

.header-links li a:hover {
  color: #D10024;
}

.header-links li i {
  color: #D10024;
  margin-right: 5px;
}

#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #15161D;
}

